extends layout

block content
    .about-section
      h1(style="font-size:50px") About Us 
        .col-12.col-md-8
          img.img-fluid.rounded.width(src='/images/bannerabout.png')
    .row
      .col-4
        .col-4.col-md-4 
            .card-block(style="height: 300px;background-color: #ccc;margin-left: 130px;width: 424px;")
              h2.card-title.font-weight-bold About Book spot
              p Dear readers,<br>We offer tremendous gathering of books in various classification of Fiction, Non-fiction, Biographies, History. We likewise move in immense accumulation of Investments,Computers, Medical, College foundations as schedule the nation over.
              .card-block(style="height: 300px;margin-top: 15px;margin-bottom:60px;margin-left: 300px;background-color: #4f3d3d;width: 448px")
                h2.card-title.font-weight-bold Contact Us:
                h4(style="margin-bottom:30px") Owned By: Dhruvi Patel
                h5 Contact Information:<br> abc@email.com <br> 555 555 555   


    //- .about-section
    //-   h1(style="font-size:50px") The BackWood's Mist
    //-     .row
    //-       .col-4
    //-         .col-4.col-md-4 
    //-           .card.card-primary 
    //-             .card-block(style="height: 400px;margin-left:-150px;width: 580px;margin-top:20px")
    //-               h2.card-title.font-weight-bold Description 
    //-               h5(style="color:#114a7b").stylebold Publisher's Name:Emily Robbins
    //-               h5(style="color:#ccc").stylebold Price: $25.12
    //-               p.style A gripping thriller for the lovers of Stephen Kin-g, James Patterson mystery/action/adventure thriller. Specially, if you are a fan of backwoods horror movies like WRONG TURN SERIES, TEXAS CHAINSHAW MASSACARE, FRIDAY THE 13TH & more, you gonna love this short story book full of action, thriller, comedy, Mystery amalgamated with unpredictable twists & turns.
    //-                 |It's NOT JUST A NORMAL TRIP THAT TURNED INTO NIGHTMARE, The Backwoods of White mountain forest had deep dark secrets too.
    //-               button.btn Buy Now
    //-               .card-block(style="height: 200px;border-radius:300px;color:#fff;margin-top: -620px;margin-bottom:60px;margin-left: 1043px;background-color: #000;width: 228px")
    //-                 h2.card-title.font-weight-bold Today's Offer:
    //-                 h2 30% OFF
    //-                 //- h4(style="margin-bottom:10px") Original Rate: $25
    //-                 //- h5 Discounted Rate: $19.55

    //-       img(style="margin-top:30px;width:380px").img-fluid.rounded.width(src='/images/aboutbook1.jfif')


